<div class="card dark">
    <div class="item item-text-wrap">
        Your Earning this week <h2 style="font-weight:300">$ 0.00</h2>
    </div>
</div>


<div class="list">
    <div class="item item-divider">Sunday</div>
    <div class="item">
        <p>{{earning.m | currency:"$":0}}</p>
    </div>

    <div class="item item-divider">Monday</div>
    <div class="item">
        <p>{{earning.m | currency:"$":0}}</p>
    </div>

    <div class="item item-divider">Tuesday</div>
    <div class="item">
        <p>{{earning.m | currency:"$":0}}</p>
    </div>

    <div class="item item-divider">Wednesday</div>
    <div class="item">
        <p>{{earning.m | currency:"$":0}}</p>
    </div>

    <div class="item item-divider">Thursday</div>
    <div class="item">
        <p>{{earning.m | currency:"$":0}}</p>
    </div>

    <div class="item item-divider">Friday</div>
    <div class="item">
        <p>{{earning.m | currency:"$":0}}</p>
    </div>

</div>